* {
    font-family:'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
}


:root {
 background-color: antiquewhite;
 color: purple;
 text-align: center;
 font-size: larger;
}

