* {
    font-family:'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
}


:root {
 background-color: antiquewhite;
 color: purple;
 text-align: center;
 font-size: larger;
}

.question {
    color: red;
    font-weight: bolder;
    margin: 3%;
}

header {
    margin-top: 3%;
}

#timer {
    color:orange;
    margin-top: 3%;
}